@media (min-width: 1921px) {
    .header {
        height: inherit;
        .top__subtitle {
            padding-bottom: 75px;
        }
    }
    .top {
        &__title {
            font-size: 128px;
        }
    }
    .services {
        // background-size: cover;
        &__card-title {
            font-size: 128px;
            line-height: 123px;
        }
    }
    .estate {
        .container-swiper {
            max-width: 1920px;
        }
        &__title {
            font-size: 288px;
            line-height: 230px;
        }
        &__subtitle {
            font-size: 128px;
            line-height: 123px;
        }
    }
    .results {
        &__number {
            font-size: 288px;
            line-height: 230px;
        }
    }
    .permission {
        &__title {
            font-size: 128px;
            line-height: 123px;
        }
    }
}

@media (max-width: 1025px) {
}

@media (max-width: 991.98px) {
    .header {
        .burger {
            display: block;
            top: 48.5px;
        }
        &__nav.active {
            display: block;
        }
        &__menu.active {
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            transform: translate(0, 0);
            width: 100%;
            height: 100%;
            overflow: hidden;
            background: rgba(0, 0, 0, 0.9);
            transition: all 0.7s;
            z-index: 998;
            opacity: 1;
            animation: ani 0.7s forwards;
        }
        &__menu-list.active {
            color: var(--white);
            position: absolute;
            top: 0;
            bottom: 0;
            flex-direction: column;
            justify-content: center;
            width: 100%;
        }
        &__menu-item:not(:last-child) {
            margin-right: 0;
            margin-bottom: 30px;
        }
        &__nav {
            display: none;
        }
        &__logo {
            margin-right: 15px;
        }
    }
}

@media (max-width: 768px) {
    .header{
        background: none;
        background-size: contain;
        background-position: center bottom;
    }
    .header .burger{
        right: 22px;
    }
    .header__logo{
        width: 95px;
    }
    .top__title{
        font-size: 42px;
        line-height: 52px;
        width: 100%;
    }
    .top__button{
        font-size: 24px;
        padding: 15px;
    }
    .header__language{
        width: 40px;
        height: 40px;
    }
    .header__right {}
    .header__number{
        font-size: 18px;
    }
    .header__number-container{
        margin-right: 15px;
    }
    .services{
        &__wrapper{
            flex-wrap: wrap;
        }
        &__cards{
            grid-template-columns: 1fr;
        }
    }
    .services__description{
        margin-top: 15px;
        padding: 0;
    }
    .services__description-link{
        font-size: 22px;
    }
    .services__title{
        padding-top: 30px;
    }
    .services__description-top{
        font-size: 22px;
    }
    .services__description-center{
        font-size: 16px;
    }
    .container-swiper{
        max-width: 100%;
    }
    .estate{
        &__cards{
            grid-template-columns: 1fr;
        }
        &__subtitle-wrapper{
            flex-wrap: wrap;
            gap: 20px;
        }
    }
    .estate__card-item{
        font-size: 18px;
    }
    .estate__button{
        font-size: 24px;
        padding: 20px;
    }
    .results{
        &__wrapper{
            grid-template-columns: 1fr;
            padding-bottom: 30px;
        }
        &__text{
            font-size: 20px;
        }
        &__img{
            height: 200px;
            margin: 0 auto;
        }
        &__item{
            text-align: center;
            margin-bottom: 30px;
        }
        &__item-img{
            display: none;
        }
    }
    .results__item--img {
        display: none;
    }
    .permission__title{
        font-size: 32px;
    }
    .permission__wrapper{
        max-width: 100%;

    }
    .footer{
        padding-bottom: 30px;
    }
    .footer__menu-list{
        flex-direction: column;
        justify-content: start;
        align-items: start;
        width: 100%;
    }
    .footer__menu-item:not(:last-child){
        margin-right: 0;
    }
    .footer__bottom-wrapper{
        flex-direction: column;
        justify-content: start;
        align-items: center;
        text-align: center;
    }
    .footer__bottom-right{
        text-align: center;
    }
}

@media (max-width: 639.98px) {
}
