@import "vars";
@import "mixins";
@import "fonts";
@import "functions";
@import "global";

.header {
  height: 100vh;
  padding-top: 50px;
  position: relative;
  background: url(../images/man-photo.png);
  background-position: right 20vh;
  background-repeat: no-repeat;
  background-size: inherit;
  .burger {
    display: none;
    position: fixed;
    top: 48.5px;
    right: 31px;
    z-index: 999;
    color: var(--black);
    border: none;
    outline: none;
    background-color: transparent;
    width: 30px;
    height: 20px;
    cursor: pointer;
    &__line {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      height: 2px;
      background-color: currentColor;
      transition: transform 0.3s ease-in-out;
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: currentColor;
      transition:
        transform 0.3s ease-in-out,
        top 0.3s ease-in-out;
    }
    &::before {
      top: 0;
    }
    &::after {
      top: calc(100% - 2px);
    }
    &--active {
      .burger__line {
        transform: scale(0);
        transition: transform 0.3s ease-in-out;
      }

      &::before {
        transform: rotate(45deg);
        top: 50%;
        transition:
          transform 0.3s ease-in-out,
          top 0.3s ease-in-out;
      }

      &::after {
        transform: rotate(-45deg);
        top: 50%;
        transition:
          transform 0.3s ease-in-out,
          top 0.3s ease-in-out;
      }
    }
  }
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  &__logo {
    margin-right: 100px;
  }
  &__nav {
    display: flex;
    align-items: center;
  }
  &__menu-list {
    font-family: "Inter";
    display: flex;
    justify-content: start;
    align-items: center;
  }
  &__menu-item {
    position: relative;
    width: fit-content;
    text-decoration: none;
    cursor: pointer;
    a::after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 0;
      height: 2px;
      background-color: var(--blue);
      transition: width 0.3s ease-out;
    }
    a:hover:after,
    :focus:after {
      width: 100%;
    }
    &:hover {
      color: var(--blue);
      font-weight: 700;
      transition: font-weight 0.3s ease-out;
    }
  }
  &__menu-item:not(:last-child) {
    margin-right: 30px;
  }
  &__right {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-left: auto;
  }
  &__number-container {
    margin-right: 65px;
  }
  &__number {
    color: var(--black);
  }
  &__callback {
    display: block;
    font-size: 20px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-align: right;
    color: var(--blue);
  }
  &__language {
    appearance: none;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    outline: none;
    width: 64px;
    height: 64px;
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #000;
    border: 2px solid var(--blue);
    border-radius: 4px;
    cursor: pointer;
  }
}

// Top
.top {
  // background: url(../images/man-photo.png);
  // background-position: top right;
  // background-repeat: no-repeat;
  // background-size: contain;
  padding-top: 50px;
  &__title {
    font-family: "Sofia Sans Extra Condensed";
    font-weight: 700;
    font-size: 128px;
    line-height: 123px;
    text-transform: uppercase;
    color: var(--black);
    max-width: 1200px;
    width: 100%;
    margin-bottom: 80px;
  }
  &__button {
    font-family: "Sofia Sans Extra Condensed";
    font-weight: 700;
    font-size: 48px;
    text-transform: uppercase;
    text-align: center;
    color: var(--white);
    display: block;
    width: fit-content;
    max-width: 720px;
    min-width: 250px;
    width: 100%;
    padding: 60px 0;
    background: linear-gradient(270deg, #48c0e0 0%, #48e0b0 100%);
    transition: 1s;
    text-align: center;
    text-transform: uppercase;
    border-radius: 80px;
    margin-bottom: 20px;
    &:hover .top__arrow {
      margin-right: 35px;
      // transform: translateX(15px);
    }
  }
  &__arrow {
    margin-right: 20px;
    display: inline-block;
    transition: margin-right 0.3s ease;
    // transition: transform 0.3s ease;
  }
  &__subtitle {
    font-size: 20px;
    text-align: center;
    max-width: 720px;
  }
}
.line {
  background-color: var(--blue);
  height: 8px;
  width: 93%;
  margin-left: auto;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

// Services
.services {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 60%, #fff 100%), url("../images/bg-2.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  &__wrapper {
    display: flex;
  }
  &__title {
    font-family: "Sofia Sans Extra Condensed";
    font-weight: 700;
    font-size: 288px;
    line-height: 230px;
    text-transform: uppercase;
    color: #fff;
    max-width: 30%;
    width: 100%;
    padding-top: 65px;
  }
  &__description {
    margin-top: 265px;
    background-color: var(--white);
    border-radius: 24px;
    padding: 65px;
    margin-left: auto;
    max-width: 832px;
    margin-bottom: 25px;
    &-top {
      margin-bottom: 50px;
    }
    &-center {
      font-size: 24px;
      margin-bottom: 50px;
    }
    &-link {
      font-weight: 700;
      color: var(--blue);
    }
    &-link:hover {
      text-decoration: underline;
    }
  }
  &__cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 45px;
  }
  &__card {
    // height: 100%;
    position: relative;
  }
  &__card-title {
    font-family: "Sofia Sans Extra Condensed";
    color: var(--black);
    font-weight: 700;
    font-size: 128px;
    line-height: 123px;
    text-transform: uppercase;
    margin-bottom: 50px;
    display: flex;
  }
  &__card-list {
    min-height: 330px;
  }
  &__card-item {
    list-style: inside;
    font-size: 24px;
    line-height: 46px;
    color: var(--black);
  }
  &__card-img {
    margin-right: 30px;
  }
  &__button {
    font-family: "Sofia Sans Extra Condensed";
    font-weight: 700;
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    color: var(--blue);
    display: block;
    width: fit-content;
    max-width: 400px;
    min-width: 250px;
    width: 100%;
    padding: 20px 0;
    background: transparent;
    border: 2px solid;
    border-color: linear-gradient(270deg, #48c0e0 0%, #48e0b0 100%);
    transition: 1s;
    text-align: center;
    text-transform: uppercase;
    border-radius: 80px;
    margin-bottom: 20px;
    &:hover {
      background: linear-gradient(270deg, #48c0e0 0%, #48e0b0 100%);
      color: var(--white);
      border: none;
    }
  }
}
.estate {
  // height: 100vh;
  background: #20242c;
  position: relative;
  &__slide-img {
    filter: blur(64px);
  }
  &__top {
    background: url("../images/bg-3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 75px;
  }
  &__title {
    font-family: "Sofia Sans Extra Condensed";
    font-weight: 700;
    font-size: 288px;
    line-height: 230px;
    text-transform: uppercase;
    color: var(--white);
    margin-bottom: 95px;
  }
  &__subtitle-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0 75px;
  }
  &__subtitle {
    font-family: "Sofia Sans Extra Condensed";
    font-weight: 700;
    font-size: 128px;
    line-height: 123px;
    color: var(--white);
    text-transform: uppercase;
  }
  &__button-objects {
    font-family: "Inter";
    font-style: italic;
    color: var(--blue);
    font-size: 24px;
    text-decoration: underline;
    text-align: center;
    // display: block;
    width: fit-content;
    max-width: 400px;
    min-width: 250px;
    width: 100%;
    padding: 20px 0;
    border: 2px solid #606888;
    border-radius: 80px;
  }
  &__cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 45px;
  }
  &__card {
    // height: 100%;
    position: relative;
  }
  &__card-list {
    min-height: 250px;
  }
  &__card-item {
    list-style: inside;
    font-size: 32px;
    line-height: 46px;
    color: var(--white);
    margin-bottom: 35px;
    max-width: 680px;
    width: 100%;
  }
  &__button {
    position: relative;
    padding: 30px 0;
    font-family: "Sofia Sans Extra Condensed";
    font-weight: 700;
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    color: var(--white);
    display: block;
    width: 100%;
    max-width: 515px;
    min-width: 250px;
    background: transparent;
    border: none;
    border-radius: 80px;
    z-index: 1;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: inherit;
      padding: 2px;
      background: linear-gradient(270deg, #48c0e0 0%, #48e0b0 100%);
      z-index: -1; /* Псевдоэлемент ниже кнопки */
      -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0); /* Создание маски */
      mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      -webkit-mask-composite: destination-out;
      mask-composite: exclude; /* Оставляем только границу */
    }
  }
  &__img-container {
    position: relative;
    margin-bottom: 35px;
  }
  &__slide-img {
  }
  &__slide-square {
    position: absolute;
    bottom: -31px;
    right: 0;
    width: 128px;
    height: 64px;
    color: var(--white);
    background-color: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
  }
  &__slide-name {
    font-family: "Sofia Sans Extra Condensed";
    font-weight: 700;
    font-size: 36px;
    text-transform: uppercase;
    color: #fff;
    // margin-bottom: 15px;
  }
  &__slide-price {
    font-family: "Sofia Sans Extra Condensed";
    font-weight: 400;
    font-size: 36px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 25px;
  }
  &__list-item {
    list-style: inside;
    font-size: 20px;
    line-height: 29px;
    color: var(--white);
    margin-bottom: 35px;
  }
  &__slide-area {
  }
  &__slide-feature {
  }
  &__slide-year {
  }
}

.container-swiper {
  max-width: 1780px;
  margin: 0 auto;
  margin-right: 0;
  padding: 0 15px;
  padding-bottom: 80px;
}
.swiper {
  width: 100%;
  height: 100%;
  // margin-right: -15px; // Чтобы правильно выровнять слайдер
  // width: calc(100% + 15px); // Увеличиваем ширину на общие отступы
}

.swiper-slide {
  max-width: 480px;
  width: 100%;
  min-height: 550px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  color: #fff;
  // justify-content: flex-start;
  // align-items: center;
  cursor: pointer;
}

.swiper-slide img {
  margin-top: 10px;
  display: block;
  width: 100%;
  height: 100%;
  // object-fit: cover;
  object-fit: contain;
  transition: box-shadow 0.2s linear;
}

.swiper-slide--last-visible {
  position: relative;
}

.swiper-slide--last-visible::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  // background: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}
.swiper-slide .estate__slide-img {
  filter: brightness(100%); // Полная яркость в обычном состоянии
  transition: filter 0.5s ease; // Плавный переход для обратного эффекта
}
.swiper-slide:hover .estate__slide-name {
  text-decoration: underline;
}
.swiper-slide:hover .estate__slide-square{
  color: var(--blue);
  background: var(--white);
}
// .swiper-slide:hover .estate__slide-img {
//   opacity: 1;
//   transition: 0.5s;
//   box-shadow: 0 0 10px var(--white);
// }

.swiper-slide--last-visible {
  .estate__slide-img {
    filter: brightness(50%); // Уменьшение яркости до 50%, создавая затемнение
    transition: filter 0.5s ease; // Плавный переход для яркости
  }
}
.swiper-slide .estate__slide-square,
.swiper-slide .estate__slide-name,
.swiper-slide .estate__slide-price,
.swiper-slide .estate__slide-list,
.swiper-slide .estate__list-item {
  color: var(--white);
  transition: color 0.5s ease;
}

.swiper-slide--last-visible .estate__slide-square,
.swiper-slide--last-visible .estate__slide-name,
.swiper-slide--last-visible .estate__slide-price,
.swiper-slide--last-visible .estate__slide-list,
.swiper-slide--last-visible .estate__list-item {
  position: relative;
  color: #404858;
  transition: color 0.5s ease;
  z-index: 1;
}
.swiper-slide--last-visible .estate__slide-square {
  position: absolute;
  bottom: -31px;
  right: 0;
  width: 128px;
  height: 64px;
  color: var(--white);
  // background-color: var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
}

// Results
.results {
  position: relative;
  padding-top: 75px;
  .line-top {
    background-color: var(--blue);
    height: 8px;
    width: 93%;
    margin-left: auto;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 120px;
  }
  &__wrapper--2{
    padding-bottom: 0;
  }
  &__img{
    transform: translateY(-15vh);
  }
  &__number {
    font-family: "Sofia Sans Extra Condensed";
    font-weight: 700;
    font-size: 288px;
    line-height: 230px;
    text-transform: uppercase;
    color: var(--blue);
    margin-bottom: 55px;
  }
  &__text {
    font-size: 32px;
    line-height: 46px;
    color: var(--black);
    max-width: 640px;
    width: 100%;
  }
}

// Permission
.permission {
  background: url("../images/geodesy.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 165px;
  &__title {
    padding-top: 80px;
  }
  &__wrapper {
    max-width: 50%;
    width: 100%;
    margin-left: auto;
  }
  &__title {
    font-family: "Sofia Sans Extra Condensed";
    color: var(--white);
    font-weight: 700;
    font-size: 128px;
    line-height: 123px;
    text-transform: uppercase;
    margin-bottom: 50px;
  }
  &__text {
    font-weight: 400;
    font-size: 32px;
    line-height: 144%;
    color: var(--white);
    max-width: 800px;
    width: 100%;
    margin-bottom: 55px;
  }
  &__button {
    position: relative;
    padding: 30px 0;
    font-family: "Sofia Sans Extra Condensed";
    font-weight: 700;
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    color: var(--white);
    display: block;
    width: 100%;
    max-width: 400px;
    min-width: 250px;
    background: linear-gradient(270deg, #48c0e0 0%, #48e0b0 100%);
    border: none;
    border-radius: 80px;
    z-index: 1;
  }
}

// Footer
.footer {
  background-color: #20242c;
  color: var(--white);
  padding: 65px 0 130px;
  &__menu-link {
    font-size: 24px;
  }
  &__nav {
    display: flex;
    align-items: center;
    margin-bottom: 90px;
  }
  &__menu-list {
    font-family: "Inter";
    display: flex;
    justify-content: start;
    align-items: center;
  }
  &__menu-item {
    position: relative;
    width: fit-content;
    text-decoration: none;
    cursor: pointer;
    a::after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 0;
      height: 2px;
      background-color: var(--blue);
      transition: width 0.3s ease-out;
    }
    a:hover:after,
    :focus:after {
      width: 100%;
    }
    &:hover {
      color: var(--blue);
      font-weight: 700;
      transition: font-weight 0.3s ease-out;
    }
  }
  &__menu-item:not(:last-child) {
    margin-right: 30px;
  }
  &__bottom-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__name {
    font-family: "Inter";
    font-weight: 400;
    font-size: 20px;
    line-height: 192%;
    color: var(--white);
  }
  // .container-results{
  //   max-width: 1664px;
  //   margin: 0 auto;
  //   margin-left: 0;
  //   padding: 0 15px;
  //   padding-bottom: 80px;
  // }
  &__rights {
    font-family: "Inter";
    font-weight: 400;
    font-size: 20px;
    line-height: 192%;
    color: var(--white);
  }
  &__bottom-right {
    color: var(--white);
    text-align: right;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
  }
  &__mail {
    font-weight: 400;
    font-size: 20px;
    line-height: 192%;
    text-decoration: underline;
    color: var(--blue);
  }
  &__phone {
    font-weight: 400;
    font-size: 20px;
    line-height: 192%;
    color: var(--white);
  }
  &__address {
    font-weight: 400;
    font-size: 20px;
    line-height: 192%;
    color: var(--white);
  }
}

@import "media";
